.overviewIcon {
  color: #d9b77f;
}

.overviewIcon,
.overviewIcon * {
  stroke: currentColor;
}

.overviewIcon [fill]:not([fill="none"]) {
  fill: currentColor;
}

.overviewHeading {
  color: #412419;
}

.overviewSubtitle {
  color: #412419;
}
